* {
  margin: 0;
}
@media screen and (min-width: 601px) {
  * {
    font-size: 1vw;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 3vw;
  }
}
img {
  max-width: fit-content;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 3vw;
  }
}
h4 {
  color: #303030;
  font-family: Montserrat;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  h4 {
    font-size: 2vw;
    display: flex;
    align-items: center;
  }
}
p {
  color: #777;
  font-family: Montserrat;
  font-size: 0.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  p {
    font-size: 1svw;
  }
}
li:not(:last-child) {
  margin-bottom: 1vw;
}
button {
  border-radius: 8px;
  border: 1px solid #101010;
  background-color: white;
  transform: initial;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: black;
  transition: 0.3s;
}
button:hover h4 {
  color: #d9d9d9;
  font-family: Montserrat;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: initial;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 600px) {
  button:hover h4 {
    font-size: 2vw;
  }
}
/* colors */
.black {
  color: #101010;
}
.black-bg {
  background-color: #101010;
}
.grey {
  color: #303030;
}
.grey-bg {
  background-color: #303030;
}
.green {
  color: #1ac74a;
}
.green-bg {
  background-color: #1ac74a;
}
.white {
  color: white;
}
.white-bg {
  background-color: white;
}
.swhite-bg {
  background-color: #f4f4f4;
}
/* colors end */
/*flexbox*/
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.space-evenly {
  justify-content: space-evenly;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
/*flexbox end*/
/*  correctional */
/* position */
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}
.position-sticky {
  position: sticky;
}

/* text stuff */
.text-align-r {
  text-align: right;
}
.text-align-l {
  text-align: left;
}
/* display */
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-flex {
  display: inline-flex;
}
.inline-block {
  display: inline-block;
}
/* gap */
.gap30 {
  gap: 30px;
}
.gap1vw {
  gap: 1vw;
}
.gap1vh {
  gap: 1vh;
}
.gap5vw {
  gap: 5vw;
}
.gap5vh {
  gap: 5vh;
}
/* padding */
.padding-right {
  padding-right: 1vw;
}
.padding-left {
  padding-left: 1vw;
}
.padding-top {
  padding-top: 1vh;
}
.padding-bottom {
  padding-bottom: 1vh;
}
.padding-right-5vw {
  padding-right: 5vw;
}
.padding-left-5vw {
  padding-left: 5vw;
}
.padding-top-5vh {
  padding-top: 5vh;
}
.padding-bottom-5vh {
  padding-bottom: 5vh;
}
.padding-all {
  padding: 1vw;
}
.padding-all-3 {
  padding: 3vh 3vw 3vh 3vw;
}
/* margin */
.margin-right {
  margin-right: 5vw;
}
.margin-left {
  margin-left: 5vw;
}
.margin-top {
  margin-top: 5vh;
}
.margin-bottom {
  margin-bottom: 5vh;
}
/* border */
.border-radius-1p {
  border-radius: 1%;
}
.no-border {
  border: 0;
}
/* sides */
.right {
  float: right;
}
.left {
  float: left;
}
/*  correctional end*/
/* fonts */
.title {
  color: #303030;
  text-align: center;
  font-size: 7vh;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 10vh;
}
.destination {
  color: #303030;
  font-size: 4vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.social {
  color: #ffffff;
  text-align: center;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.5%;
}
.social:hover {
  background-color: #303030;
}
.cyber-font {
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 600px) {
  .cyber-font {
    font-size: 5vw;
  }
}
/* fonts end */
.carousel {
  gap: 3vw;
  margin-top: 1vh;
}
.carousel-img {
  width: 13vw;
  max-width: 20vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 12px;
  transform: initial;
  transition: 0.9s ease-in-out;
}
.carousel-img:hover {
  width: 20vw;
  height: 40vh;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .carousel {
    display: grid;
    grid-row: 2;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    grid-template-columns: 20vh 20vw;
  }
  .carousel-img {
    height: 20vh;
    width: 20vw;
    object-fit: cover;
    max-width: 40vw;
  }
  .carousel-img:hover {
    height: 40vh;
    width: 100vw;
  }
}
/* beginning done */

.tbutton {
  width: 20vw;
  height: 7vh;
}
@media screen and (max-width: 600px) {
  .tbutton {
    width: 40vw;
    height: 5vh;
  }
}
.cimg {
  width: 30vw;
  height: 75vh;
  object-fit: cover;
  border-radius: 1%;
}
@media (max-width: 600px) {
  .cimg {
    height: 0;
    width: 0;
  }
}
.stupid {
  top: -1.2vw;
  gap: 0.5vw;
  right: 0.5vw;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .stupid {
    top: 0;
    gap: 0.5vw;
    right: 0;
  }
}
/* middle done */
/*bottom */
.box {
  width: 15vw;
  height: 30vh;
}
@media screen and (max-width: 600px) {
  .box {
    width: 30vw;
  }
}
.box:hover {
  border: 1px green solid;
}
.pricing-text {
  color: #303030;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .pricing-text {
    font-size: 4vw;
  }
}
.ordernow {
  height: 5vh;
  width: 10vw;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 600px) {
  .ordernow {
    height: 5vh;
    width: 15vw;
  }
  .social {
    width: 10vh;
    height: 10vw;
  }
  .left {
    left: 30vw;
  }
}
.ordernow:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}
