* {
    margin: 0;
}
button {
    height: 5vh;
    width: 5vw;
    border-radius: 5%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
    color: white;
    border: none;
}
button:hover {
    transition: background-color 2s;
    background-color: red;
}