* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shape {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: red;
}
.shape:hover {
  animation: color 2s linear forwards;
}

@keyframes color {
  form {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}
